:root {
    --cor-destaque1: rgb(48, 47, 47);
    --cor-primaria: rgb(105, 100, 100);
    --fonte-body: Arial, Helvetica, sans-serif;
    --fonte-titulo: Arial bold, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    background-color: var(--cor-primaria);
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.hero article {
    position: absolute;
    float: right;
    width: 250px;
    border: #302828;
    margin: 10px;
    box-shadow: inset gray;
}

/*.hero article img {
    position: absolute;
    float: right;
    width: 250px;
}*/