/*reset config*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo-titulo: darkblue;
    --cor-texto-titulo: white;
    --fonte-texto-titulo: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px, rgb (0 0 0 / 0.1)
}

nav {
    background-color: var(--cor-fundo-titulo);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--cor-fundo-titulo);
    text-decoration-color: var(--cor-texto-titulo);
    padding-bottom: 2rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(218, 218, 218);
}

p {
    padding-bottom: 2rem;
}

main,
header,
footer,
.div {
    max-width: 840px;
    margin: 0 auto;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 160px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 0 45px gray;
    float: right;
}

aside {
    width: 20rem;
    color: black;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    color: white;
    position: absolute;
    bottom: 130px;
    left: 100px
}

aside img {
    width: 300px;
    height: auto;
}

footer {
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    text-align: center;
}

/* Seletor de classe */

.caixa {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(175, 169, 169);
}

.grid {
    display: grid;
    align-items: center;
}