:root {
    --cor-fundo-titulo: darkblue;
    --cor-texto-titulo: white;
    --fonte-texto-titulo: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px, rgb (0 0 0 / 0.1)
}

nav {
    background-color: var(--cor-fundo-titulo);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--cor-fundo-titulo);
    text-decoration-color: var(--cor-texto-titulo);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 700px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 0 45px gray;
}

aside {
    width: 400px;
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: grey;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    text-align: center;
}